zenith
bundle_test
app
*.exe
*.exe~
*.dll
*.so
*.dylib

core
*.out
vendor/

.zenith-tmp-*.php
utils.php
index.php
test.php
*.php
!utils.zn
!index.zen
!test.zen

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
